.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  height: 270px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;
 &::-webkit-scrollbar {
    display: none;
  }
  

.title {
	font-size: 1.4rem;
	margin-left: 3px;
  top: 0;
}

.collection-box {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;

.left-controls {
  position: absolute;
  top: 0;
  left: 0%;
  width: 2%;
  height: 168px;
  z-index: 40;
  background-color: black;
  opacity: 0.4;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  color: #fff;
   &:hover {
    
      }
}

.right-controls {
  position: absolute;
  top: 0;
  right: 0%;
  width: 2%;
  height: 168px;
  z-index: 40;
  background-color: black;
  opacity: 0.4;
  display: flex;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  color: #fff;
   &:hover {
       width: 3%;
      }
}

  .preview {
    display: flex;
    overflow-x: auto;
    cursor: pointer;

    &:hover {
      .box {
        transform: translateX(-25%);
      }
    }
    
    .box:hover ~ .box {
      transform: translateX(25%);
    }

    .box:first-child:hover ~ .box {
     transform: translateX(50%);
    }
    
    .box {
      & {
      transition: transform 300ms ease 100ms;
    }

      &:first-child {
        transform-origin: left;
      }

      &:hover {
        transform: scale(1.5);
      }
      &:hover:first-child {
        
        transform: scale(1.5);
      }
  }

}
}

  }
