.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 270px;
  overflow: hidden;
  @media screen and (max-width: 800px) {
    height: 210px;
  }

  .title {
    font-size: 1.4rem;
    margin-left: 3px;

    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }

  .collection-box {
    display: flex;
    height: 100%;
    flex-direction: row;
    position: relative;

    .left-controls,
    .right-controls {
      height: 168.4px;
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      z-index: 1;
      opacity: 1;
      color: white;

      @media screen and (max-width: 800px) {
        height: 129.44px;
      }
    }

    .left-controls {
      position: absolute;
    }

    .right-controls {
      position: absolute;
      right: 0%;
    }

    .left-control-icon,
    .right-control-icon {
      cursor: pointer;

      &:hover {
        font-size: 3rem;
        color: white;
        transition: all 0.2s ease;
      }
    }

    /* .preview-container {
      height: 270px;
      display: flex;
      flex-direction: column;
    }*/

    .preview {
      display: flex;
      cursor: pointer;
      height: 168.4px;

      &:hover {
        .box {
          transform: translateX(-25%);
        }
      }

      .box:hover ~ .box {
        transform: translateX(25%);
      }

      .box:first-child:hover ~ .box {
        transform: translateX(50%);
      }

      .box:last-child:hover ~ .box {
        transform: translateX(-50%);
      }

      .box {
        & {
          transition: transform 300ms ease 100ms;
        }

        &:first-child {
          transform-origin: left;
        }

        &:last-child {
          transform-origin: right;
        }

        &:hover {
          transform: scale(1.5);
        }
        &:hover:first-child {
          transform: scale(1.5);
        }
        &:hover:last-child {
          transform: scale(1.25);
        }
      }
    }
  }
}
